node_modules

# dependencies, yarn, etc
# yarn / eslint
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
Scaffold-Setup.txt
Brainstorm.txt
.eslintcache
.vscode/**
.DS_Store
yarn.lock